<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> - Daily Log App</h1>
    <p>Welcome to <%= title %></p>
    <h2>API Docuemntation</h2>
  </body>
</html>
